services:
  db:
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
    - "3306:3306"
    volumes:
    - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
